<table class="table table-danger">
    <thead>
      <tr>
        <th scope="col">userId</th>
        <th scope="col">username</th>
        <th scope="col">firstName</th>
        <th scope="col">lastName</th>
        <th scope="col">emailId</th>
        <th scope="col">mobile</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let user of userList">
        
        <td>{{user.userId}}</td>
        <td>{{user.username}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.emailId}}</td>
        <td>{{user.mobile}}</td>
      
      </tr>
    </tbody>
  </table>

